.text{
    font-family: "Instrument Serif", serif;
    color: rgb(27, 189, 135);
}
.carousel-inner{
    font-family: "Instrument Serif", serif;

}
.head{
    font-family: "Instrument Serif", serif;
    text-align: center;
    color: rgb(27, 189, 135);

}
.vhead{
    font-family: "Instrument Serif", serif;
    text-align: center;
    color: rgb(27, 189, 135);
}
.hover-primary:hover {
    color: #0d6efd !important; 
    border-color: #0d6efd !important;
}
 .card img {
      height: 250px;
      object-fit: cover;
    }
    .card-body{
        height: 150px;

    }
    .luxury{
        font-family: "Instrument Serif", serif;
    text-align: center;
    color: rgb(27, 189, 135);

    }
